.login-section {
  min-height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center;
  background: #fff; 

}

.login-box {
  width: 320px;
  padding: 25px 40px;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.447);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  color: #666;
}

.toggle-icon {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);
  color: #666;
  cursor: pointer;
}

.form-control {
  height: 45px;
  border: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  box-shadow: none;
  font-size: 15px;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
}

.btn {
  height: 45px;
  font-weight: 500;
}

.forgot-link {
  font-size: 14px;
  text-decoration: none;
  color: #000;
}

.forgot-link:hover {
  text-decoration: underline;
}

@media (max-width: 576px) {
  .login-box {
    padding: 30px 20px;
  }
}

.d-grid .btn:hover{
  color:white !important;
}